[user]
	name = Bjarne Helland
	email = bjarne81@gmail.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID9RUQmrBIuSwV/X/3ZXsUPG3rKW0gY3kXfa0Rkqv7dI

[init]
	defaultBranch = main

[push]
	autoSetupRemote = true

[core]
	pager = delta 
  editor = nvim

[interactive]
	diffFilter = delta --color-only 

[delta]
    navigate = true    # use n and N to move between diff sections
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[gpg]
	format = ssh

[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign

[commit]
	gpgsign = true
